---
import "@fontsource/quicksand";

let years_of_experience = Math.floor(
  // I don't remember exactly so just an arbitary date in 2020 with my favorite number 7
  (new Date().getTime() - new Date(2020, 7, 7).getTime()) /
    (365.25 * 24 * 60 * 60 * 1000)
);

let contact_links: IContactLink[] = [
  {
    name: "GitHub",
    href: "http://github.com/kyuuiota",
    title: "@kyuuiota on GitHub",
  },
  {
    name: "Discord",
    href: "https://dsc.gg/cafe",
    title: "@kyuuiota on Discord",
  },
  {
    name: "Instagram",
    href: "https://instagram.com/kyuuiota",
    title: "@kyuuiota on Instagram",
  },
  {
    name: "E-Mail",
    href: "mailto:kyuuiota@gmail.com",
    title: "kyuuiota@gmail.com",
  },
];

interface IContactLink {
  readonly name: string;
  readonly href: string;
  readonly title: string;
}
---

<style lang="scss">
  @use "sass:color";
  $primary: rgba(256, 256, 256, 1);
  $accent: rgba(251, 198, 200, 1);
  $bg: rgba(20, 20, 20, 1);
  $purple: rgba(123, 99, 177, 1);
  $blue: rgba(63, 81, 181, 1);
  body {
    background-color: $bg;
    display: flex;
    justify-content: center;
    color: $primary;
    font-family: "Quicksand";
    main {
      width: min(65ch, 75vw);
      padding: 1.75rem;
      h1 {
        font-size: 2.5rem;
        color: color.change($accent, $alpha: 0.5);
      }
      p {
        margin-bottom: 1em;
        font-size: 1.25rem;
        color: color.change($primary, $alpha: 0.5);
      }
      span {
        color: color.change($accent, $alpha: 0.5);
      }
      ul {
        padding-top: 0.25rem;
        display: flex;
        flex-wrap: wrap;
        justify-content: center;
        margin: 0;
        gap: 1rem;
        padding: 1rem;
        li {
          list-style-type: none;
          flex: 1 0 auto;
          display: inline-block;
          color: color.change($primary, $alpha: 0.5);
          font-size: 1.25rem;
          a {
            border-radius: 99rem;
            text-decoration: none;
            padding: 0.25rem 1.25rem;
            color: color.change($blue, $alpha: 0.5);
            background-color: color.change($blue, $alpha: 0.1);
            &:hover {
              background-color: color.change($blue, $alpha: 0.2);
            }
            &:visited {
              background-color: color.change($purple, $alpha: 0.1);
              color: color.change($purple, $alpha: 0.3);
            }
          }
        }
      }
    }
  }
</style>

<html lang="en">
  <head>
    <!-- NOTE: Amazing tool - https://realfavicongenerator.net -->
    <link rel="apple-touch-icon" sizes="180x180" href="/apple-touch-icon.png" />
    <link rel="icon" type="image/png" sizes="32x32" href="/favicon-32x32.png" />
    <link rel="icon" type="image/png" sizes="16x16" href="/favicon-16x16.png" />
    <link rel="manifest" href="/site.webmanifest" />
    <link rel="mask-icon" href="/safari-pinned-tab.svg" color="#141414" />
    <meta name="msapplication-TileColor" content="#fbc6c8" />
    <meta name="theme-color" content="#fbc6c8" />
    <!--|-->

    <!-- OpenGraph -->
    <meta property="og:title" content="Kyuu Iota" />
    <!-- TODO: Add something less random here. -->
    <meta property="og:description" content="Life is short, talk fast." />
    <!-- TODO: Image appears too small on discord instead of bigger version -->
    <meta property="og:image" content="/banner.png" />
    <meta property="og:type" content="website" />
    <!--|-->

    <meta charset="utf-8" />
    <meta name="viewport" content="width=device-width" />
    <meta name="generator" content={Astro.generator} />
    <title>Kyuu Iota</title>
  </head>
  <body>
    <main>
      <h1>Kyuu Iota</h1>
      <p>
        Hey I'm Kyuu Iota, a passionate <span>backend engineer</span> with a focus
        on building robust, efficient and reliable web applications. With my
        <span>{years_of_experience} years of experience</span> in programming and
        development, I have fostered a deep expertise in crafting robust solutions.
      </p>
      <p>
        I specialize in developing server-side architecture, api integrations,
        database management, and optimizing performance of existing
        applications. I have a comprehensive grasp on programming languages such
        as <span>typescript</span> & <span>rust</span> and frameworks such as
        <span>next.js</span>, <span>astro</span>, <span>prisma</span>,
        <span>tailwindcss</span>, <span>axum</span> & <span>warp</span>
        allowing me to deliver optimal solutions for a diverse array of challenges.
        <p>
          In addition to my technical knowledge, I prioritize principles of
          <span>clean code</span> & development of maintainable solutions. I have
          a strong emphasis on writing code that is efficient and effective while
          also prioritizing organization and clarity. I am strongly committed to
          <span>continuous learning</span>, staying updated on the latest
          industry trends, and constantly expanding my knowledge and skills.
        </p>
        <p>Feel free to reach out to me via:</p>
        <ul>
          {
            contact_links.map((e) => (
              <li>
                <a href={e.href} title={e.title}>
                  {e.name}
                </a>
              </li>
            ))
          }
        </ul>
      </p>
    </main>
  </body>
</html>
